@use "../util" as u;

body {
  font-family: u.$font;
  color: u.$primary-font;
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.438rem;
  font-size: clamp(2.188rem, 5vw, 5rem);
}

h2 > span {
  color: u.$secondary-font;
  font-weight: 400;
}

main {
  font-size: clamp(0.938rem, 1.75vw, 1.1rem);
}

.userMsg {
  font-weight: 600;
  font-size: 85%;
}

.error {
  color: u.$error-msg;
}

.inputEmail {
  font-size: clamp(0.875rem, 1vw, 1rem);
}
